@model Rooms

<body class="bd-gradient">
    <header>
        <div class="g-header">
            <div class="logo">
                <a href="/Room/Home">
                    <img src="~/SVGs/logo-white.svg" alt="USER 404 Logo">
                </a>
            </div>
            <div class="opt">
                <a class="a-home" href="/Room/About">Sobre o projeto</a>
            </div>
        </div>
    </header>
    <section class="cadastro">
        <div class="form-init">
            <form asp-action="Criar" method="POST">
                <div class="pt-1">
                    <p>
                        <label asp-for="Pass">
                            Crie sua sala!
                            <br>
                            Defina uma senha
                        </label>
                    </p>
                    <input type="text" asp-for="Pass" placeholder="Defina uma senha..." required>
                    @{
                        Random rnd = new Random();
                        int Id = rnd.Next(100000,999999);

                        <input type="text" asp-for="Id" value="@Id">
                    }
                    <button>Criar sala</button>
                </div>
            </form>
            <div class="pt-2">
                <img src="~/SVGs/enfeite.svg" alt="">
            </div>
            <form asp-action="Entrar" method="POST">
                <div class="pt-3">
                    <p>
                        <label asp-for="Id">
                            Já tem uma sala?
                            <br>
                            Insira o código no campo abaixo
                        </label>
                    </p>
                    <input type="text" asp-for="Id" placeholder="Insira o código...">
                    <button>Entrar</button>
                </div>
            </form>
        </div>
        <div class="ilustra-home">
            <img src="~/SVGs/ilustra-home.svg" alt="ilustração da home">
        </div>
    </section>
</body>