<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/SVGs/FavIcon.svg" type="image/x-icon">

    <link rel="stylesheet" href="/Styles/global.css">
    <link rel="stylesheet" href="/Styles/home.css">
    <title>USER404 | Home</title>
</head>
<body>
    <header>
        <div class="g-header">
            <div class="logo">
                <a href="/Views/home.html">
                    <img src="/SVGs/logo-white.svg" alt="USER 404 Logo">
                </a>
            </div>
            <div class="opt">
                <a href="/Views/about.html">Sobre o projeto</a>
            </div>
        </div>
    </header>
    <section class="cadastro">
        <div class="form-init">
            <form action="/Views/room.html">
                <div class="pt-1">
                    <p>
                        Crie sua sala!
                        <br>
                        Defina uma senha
                    </p>
                    <input type="text" name="" id="" placeholder="Defina uma senha...">
                    <button>Criar sala</button>
                </div>
                <div class="pt-2">
                    <img src="/SVGs/enfeite.svg" alt="">
                </div>
                <div class="pt-3">
                    <p>
                        Já tem uma sala?
                        <br>
                        Insira o código no campo abaixo
                    </p>
                    <input type="text" name="" id="" placeholder="Insira o código...">
                    <button>Entrar</button>
                </div>
            </form>
        </div>
        <div class="ilustra-home">
            <img src="/SVGs/ilustra-home.svg" alt="">
        </div>
    </section>
</body>
</html>