<body class="bd-white">
    <header>
        <div class="g-header">
            <div class="logo">
                <a href="/Room/Home">
                    <img src="~/SVGs/logo-yellow.svg" alt="USER 404 Logo">
                </a>
            </div>
            <div class="opt">
                <a class="a-about" href="/Room/Home"><img src="~/SVGs/icon-back.svg">Home</a>
            </div>
        </div>
    </header>
    <section class="history">
        <div class="card">
            <div class="ins-c">
                <img src="~/SVGs/logo-about.svg" alt="">
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
            </p>
            <img src="~/SVGs/ilustra-about.svg" alt="">
            </div>
        </div>
    </section>
</body>