<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/SVGs/FavIcon.svg" type="image/x-icon">

    <link rel="stylesheet" href="/Styles/global.css">
    <link rel="stylesheet" href="/Styles/room.css">

    <title>USER404 | Room</title>
</head>
<body>
    <header>
        <div class="g-header">
            <div class="logo">
                <a href="/Views/home.html">
                    <img src="/SVGs/logo-yellow.svg" alt="USER 404 Logo">
                </a>
            </div>
            <div class="opt">
                <div class="cod">
                    <img src="/SVGs/icon-copy.svg" alt="">
                    #236958
                </div>
                <div class="exit-room">
                    <a href="/Views/home.html">
                        <img src="/SVGs/icon-exit.svg" alt="">
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="questions">
        <div class="st-qst">
            <div class="ft-pf">
                <div class="ph-pf">
                    
                </div>
            </div>
            <div class="form">
                <form action="">
                    <textarea name="" id="" cols="95" rows="6" placeholder="Escreva sua pergunta aqui..."></textarea>
                    <button><img src="/SVGs/icon-send.svg" alt=""> Enviar</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>