@using Microsoft.AspNetCore.Http;


<body class="bd-white">
    <header>
        <div class="g-header">
            <div class="logo">
                <a href="/Room/Home">
                    <img src="~/SVGs/logo-yellow.svg" alt="USER 404 Logo">
                </a>
            </div>
            <div class="opt">
                <div class="cod">
                    <img src="~/SVGs/icon-copy.svg" alt="">
                    #@Context.Session.GetInt32("@Id");
                </div>
                <div class="exit-room">
                    <a href="/Room/Home">
                        <img src="~/SVGs/icon-exit.svg" alt="">
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="questions">
        <div class="st-qst">
            <div class="ft-pf">
                <div class="ph-pf">
                    
                </div>
            </div>
            <div class="form">
                <form action="">
                    <textarea name="" id="" cols="95" rows="6" placeholder="Escreva sua pergunta aqui..."></textarea>
                    <button><img src="~/SVGs/icon-send.svg" alt=""> Enviar</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>